main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px;
}


.todo-item{
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 10px;
  padding: 0 10px;  
  background-color: rgb(221, 230, 230);
  width: fit-content;
}

.completed{
  background-color: rgb(81, 208, 89);
}

.todo-item input{
  height: 20px;
  width: 20px;
  margin: auto;
}

.todo-item button{
  height: 20px;
  width: 20px;
  margin: auto;
}